div {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0rem;
}
form{
    width: 100%;
    background: var(--gray-900);
    align-items: center;
    width: 638px;
    height: 54px;
    padding: 1.25rem 0;

    
}
